* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearer {
    clear: both;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

header, nav, article, aside, section, footer, main, figure, figcaption {
    display: block;
}

.clearfix::before, .clearfix::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix::after {
    clear: both;
}

.content {
    margin: 0 auto;
    width: 1160px;
}

.col-1 {
    float: left;
    width: 8.33333%;
}

.col-2 {
    float: left;
    width: 16.66666%;
}

.col-3 {
    float: left;
    width: 25%;
}

.col-4 {
    float: left;
    width: 33.33333%;
}

.col-6 {
    float: left;
    width: 50%;
}

.col-8 {
    float: left;
    width: 66.66666%;
}

.col-10 {
    float: left;
    width: 83.33333%;
}

.divider {
    padding: 20px 0;
}

.spacer {
    padding: 70px 0;
}

.responsive, .responsive img {
    height: auto;
    width: 100%;
}

.center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, a {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.d-flex {
    display: flex;
}

.flex-dir-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

/* Global style */

/** Typography Carlo**/
.content h3 {
    color: #222;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.content p {
    font-size: 14px;
    color: #787878;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 24px;
    letter-spacing: 1px;
}

.row h2 {
    color: #222;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 25px;
}

.row h4 {
    font-size: 18px;
    color: #787878;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 33px;
}

.row p {
    font-size: 14px;
    color: #787878;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 24px;
    letter-spacing: 1px;
}

.blog h3 {
    font-size: 15px;
    color: #222;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    margin-top: 25px;
    text-decoration: none;
}

.blog p {
    font-size: 12px;
    color: #787878;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1px;
    text-decoration: none;
}

.blog h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}


/** Homepage **/
.main h1 {
    padding-top: 30vh;
    margin-bottom: 20px;
    color: #fff;
    font-size: 52px;
    text-transform: capitalize;
}
.main h2 {
    margin-bottom: 30px;
    color: white;
    font-size: 32px;
    text-transform: capitalize;
}

.inner {
    box-sizing: border-box;
    padding: 0 10%;
    margin-top: 50px;
}
.inner .fa {
    font-size: 30px;
    margin-bottom: 30px;
    color: #222222;
}

/** Display table **/
.row {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.column {
    width: 50%;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}
.bg-column {
    background: url("../img/team-1.jpg") no-repeat center center scroll;
    background-size: cover;
}
.bg-column-2 {
    background: url("../img/team-2.jpg") no-repeat center center scroll;
    background-size: cover;
}
.grey {
    background-color: #f2f5f8;
}
.text-1 {
    padding: 15%;
}
.text-2 {
    padding: 15%;
}
.mid-button {
    background: transparent;
    border: 2px solid #222;
    text-transform: uppercase;
    text-decoration: none;
    font-size: small;
    font-weight: 600;
    color: #222222;
    padding: 14px 24px;
    transition: 0.3s;
}

.mid-button:hover {
    background-color: #d80808;
    border-color: #d80808;
    color: white;
}

.blog .col-3{
    padding: 20px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    height: 120px;
    background: rgba(0, 0, 0, 0.5);
}

nav {
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

a#logo {
    float: left;
    height: 107px;
    width: 244px;
}

a#logo > img {
    width: 100%;
    height: auto;
}


.menu {
    list-style: none;
}

.menu a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}

.menu a:hover {
    color: #D80808;
}

.menu .current-menu-item {
    color: #D80808;
}

.menu li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    color: #fff;
}

.blog {
    margin-top: 50px;
}
.footer{
    width: 100%;
    padding: 70px 0;
    background-color: #2b2e31;

}
.footer .inner{
    padding-left: 0;
    padding-right: 5%;
}
.footer p{
    font-size: 12px;
    color: #777;
    margin-bottom: 0;
    line-height: 30px;
}

.footer .inner .fa{
    font-size: 15px;
    width: 20px;
    color: #777;
}
.footer h4{
    text-transform: uppercase;
    padding:  10px 0;
    color: white;
    font-size: 13px;
}

.footer p a{
    text-decoration: none;
    color: #777;
    transition: 0.3s;
}
.footer p a:hover{
    color: white;

}
.footer time{
    color: #777777;
    font-size: 12px;
    text-transform: uppercase;
}
.footer img{
    width: 60px;
    height: 60px;
    display: block;
}
.icon a{
    text-decoration: none;
    color: #777777;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: block;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #222222;
    transition: 0.3s;
}
.credits{
    width: 100%;
    background-color: #222222;
    padding: 15px 0;
}
.credits h5{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.credits p{
    margin-bottom: 0;
    font-size: 11px;
    color: #777777;
    margin-left: 20px;
}
/*button*/
.button {
    display: inline-block;
    padding: 20px 40px;
    margin: 0 20px;
    border-radius: 10px;
    background: #D80808;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
    text-align: center;
}

.menu .button {
    border-radius: 0;
}

.button.inverse {
    background: #000;
}

.button:hover {
    background: #000;
}

.button.inverse:hover {
    background: #D80808;
}


/*Homepage*/
.main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg") no-repeat center scroll;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main h1 {
    padding-top: 25%;
    text-align: center;
    color: #ffffff;
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.main p {
    margin: 30px 0 50px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

/* Go to the top button */
a#go-top {
    text-decoration: none;
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #D80808;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

a#go-top > i {
    margin: auto auto;
    color: #fff;
    padding-bottom: 2px;
}

/** Desktop, iPad Pro **/

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .content {
        margin: 0 2%;
        width: 96%;
    }
}

/** Display 12", iPad Pro Portrait, iPad landscape **/

@media only screen and (max-width: 1024px) {
    .content {
        margin: 0 2%;
        width: 96%;
    }


}

/** iPad Portrait, smartphone **/

@media only screen and (max-width: 768px) {
    .col-1, .col-2, .col-3, .col-4, .col-6, .col-8, .col-10 {
        float: none;
        width: 100%;
    }
    .main h1 {
        font-size: 40px;
        letter-spacing: 0;
        line-height: 40px;
    }
    .button-container {
        flex-direction: column;
    }
    .button-container .button {
        margin: 15px 0;
    }
}

/** piccoli smartphone **/

@media only screen and (max-width: 320px) {
}
