* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearer {
    clear: both;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

header, nav, article, aside, section, footer, main, figure, figcaption {
    display: block;
}

.clearfix::before, .clearfix::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix::after {
    clear: both;
}

.content {
    margin: 0 auto;
    width: 1160px;
}

.col-1 {
    float: left;
    width: 8.33333%;
}

.col-2 {
    float: left;
    width: 16.66666%;
}

.col-3 {
    float: left;
    width: 25%;
}

.col-4 {
    float: left;
    width: 33.33333%;
}

.col-6 {
    float: left;
    width: 50%;
}

.col-8 {
    float: left;
    width: 66.66666%;
}

.col-10 {
    float: left;
    width: 83.33333%;
}

.divider {
    padding: 20px 0;
}

.spacer {
    padding: 70px 0;
}

.responsive, .responsive img {
    height: auto;
    width: 100%;
}

.center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, a {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.d-flex {
    display: flex;
}

.flex-dir-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

/* Global style */
.hidden {
    display: none !important;
}

/* Typography */

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 6px;
    text-transform: uppercase;
}

h2 {
    color: #222;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 25px;
}

h3 {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 25px 0;
}

h4 {
    font-size: 18px;
    color: #787878;
    font-weight: 300;
    margin-bottom: 24px;
    line-height: 33px;
}

p {
    font-size: 14px;
    color: #787878;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 24px;
    letter-spacing: 1px;
}

/*button*/
.button {
    display: inline-block;
    padding: 20px 40px;
    margin: 0 20px;
    border-radius: 10px;
    background: #D80808;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
    text-align: center;
}

.button.inverse {
    background: #000;
}

.button:hover {
    background: #000;
}

.button.inverse:hover {
    background: #D80808;
}

/* end button */

/** header **/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    height: 120px;
    background: rgba(0, 0, 0, 0.5);
}

.header.expanded {
    height: 300px;
}

.wrap {
    flex-wrap: wrap;
}

.expand-mobile-only {
    height: 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display: inline-block;
    cursor: pointer;
    float: right;
    padding: 20px 0;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-10px, 5px);
    transform: rotate(-45deg) translate(-10px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -5px);
    transform: rotate(45deg) translate(-9px, -5px);
}

a#logo {
    float: left;
    height: 107px;
    width: 244px;
}

a#logo img {
    /*width: 100%;*/
    width: 130px;
    height: auto;
    padding: 25px 0;
}

.menu {
    list-style: none;
}

.menu a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}

.menu .button {
    border-radius: 0;
}

.menu a:hover {
    color: #D80808;
}

.menu .current-menu-item {
    color: #D80808;
}

.menu li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    color: #fff;
}

.menu .button {
    margin: 0;
}

.main h2 {
    margin-bottom: 30px;
    color: #fff;
    font-size: 32px;
    text-transform: capitalize;
}

/* end header */

/* main */

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg") no-repeat center scroll;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main .content {
    padding-top: 120px;
    height: 100%;
}

.main p {
    margin: 30px 0 50px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

/* end main */

/* pages */
.inner {
    box-sizing: border-box;
    padding: 0 10%;
    margin-top: 50px;
}

.inner i.fa {
    font-size: 30px;
    margin-bottom: 30px;
    color: #222222;
}

/* end pages */

/* portfolio */
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    width: 50%;
    min-height: 655px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.bg-column {
    background: url("../img/team-1.jpg") no-repeat center center scroll;
    background-size: cover;
    order: 1;
}

.bg-column-2 {
    background: url("../img/team-2.jpg") no-repeat center center scroll;
    background-size: cover;
    order: 3
}

.grey, .grey-2 {
    background-color: #f2f5f8;
    order: 2;
}

.mid-button {
    background: transparent;
    border: 2px solid #222;
    text-transform: uppercase;
    text-decoration: none;
    font-size: small;
    font-weight: 600;
    color: #222222;
    padding: 14px 24px;
    transition: 0.3s;
}

.mid-button:hover {
    background-color: #d80808;
    border-color: #d80808;
    color: white;
}

/* end portfolio */

/* blog */


.blog {
    margin-top: 50px;
}

.blog p {
    font-size: 12px;
}

.blog .col-3 {
    padding: 20px 0;
}

.blog .col-3.left {
    padding-right: 30px;
}

.blog .col-3.mid-left {
    padding-left: 10px;
    padding-right: 20px;
}

.blog .col-3.mid-right {
    padding-left: 20px;
    padding-right: 10px;
}

.blog .col-3.right {
    padding-left: 30px;
}

/* end blog */

/* footer */
.footer {
    width: 100%;
    padding: 70px 0;
    background-color: #2b2e31;

}

.footer .inner {
    padding-left: 0;
    padding-right: 5%;
}

.footer p {
    font-size: 12px;
    color: #777;
    margin-bottom: 0;
    line-height: 30px;
}

.footer .inner .fa {
    font-size: 15px;
    width: 20px;
    color: #777;
}

.footer h4 {
    text-transform: uppercase;
    padding: 10px 0;
    color: white;
    font-size: 13px;
}

.footer p a {
    text-decoration: none;
    color: #777;
    transition: 0.3s;
}

.footer p a:hover {
    color: white;

}

.footer .pseudo-figure time {
    color: #777777;
    font-size: 12px;
    text-transform: uppercase;
}

.footer .pseudo-figure img {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.footer .pseudo-figure p {
    line-height: 24px;
}

.icon a {
    text-decoration: none;
    color: #777777;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: block;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #222222;
    transition: 0.3s;
}

.credits {
    width: 100%;
    background-color: #222222;
    padding: 15px 0;
}

.credits h4 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.credits p {
    margin-bottom: 0;
    font-size: 11px;
    color: #777777;
    margin-left: 20px;
}

/* end footer */

/* Go to the top button */
a#go-top {
    text-decoration: none;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #D80808;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

a#go-top > i {
    margin: auto auto;
    color: #fff;
    padding-bottom: 2px;
}

/** Desktop, iPad Pro **/

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .content {
        margin: 0 2%;
        width: 96%;
    }
}

/** Display 12", iPad Pro Portrait, iPad landscape **/

@media only screen and (max-width: 1024px) {
    .content {
        margin: 0 2%;
        width: 96%;
    }

    .expand-mobile-only {
        align-items: center;
        width: 100%;
    }

    nav {
        width: calc(104%);
        margin: 0 -2%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px 2%;
    }

    .menu {
        width: 100%;
    }

    .menu li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .row .column {
        width: 100%;
    }

    .grey-2 {
        order: 3;
    }

    .bg-column-2 {
        order: 2;
    }
}

/** iPad Portrait, smartphone **/

@media only screen and (max-width: 768px) {
    .col-1, .col-2, .col-3, .col-4, .col-6, .col-8, .col-10 {
        float: none;
        width: 100%;
    }

    .main h1 {
        font-size: 40px;
        letter-spacing: 0;
        line-height: 40px;
    }

    .button-container {
        flex-direction: column;
        width: 100%;
    }

    .button-container .button {
        margin: 15px 0;
        width: 100%;
    }

    .blog .col-3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .footer .inner {
        padding-right: 0;
        margin-bottom: 50px;
    }
}

/** piccoli smartphone **/

@media only screen and (max-width: 320px) {
}
