* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearer {
    clear: both;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #fff;
    font-family: Helvetica, sans-serif;
}

header, nav, article, aside, section, footer, main, figure, figcaption {
    display: block;
}

.clearfix::before, .clearfix::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix::after {
    clear: both;
}

.content {
    margin: 0 auto;
    width: 1160px;
}

.col-1 {
    float: left;
    width: 8.33333%;
}

.col-2 {
    float: left;
    width: 16.66666%;
}

.col-3 {
    float: left;
    width: 25%;
}

.col-4 {
    float: left;
    width: 33.33333%;
}

.col-6 {
    float: left;
    width: 50%;
}

.col-8 {
    float: left;
    width: 66.66666%;
}

.col-10 {
    float: left;
    width: 83.33333%;
}

.divider {
    padding: 20px 0;
}

.spacer {
    padding: 70px 0;
}

.responsive, .responsive img {
    height: auto;
    width: 100%;
}

.center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, a {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

/* Global style */
html {
    --header-height: 120px; /*Modificare con altezza header*/
    scroll-padding-top: var(--header-height);
    margin: var(--header-height) auto 0;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    height: var(--header-height);
}

/** Desktop, iPad Pro **/

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .content {
        margin: 0 2%;
        width: 96%;
    }
}

/** Display 12", iPad Pro Portrait, iPad landscape **/

@media only screen and (max-width: 1024px) {
    .content {
        margin: 0 2%;
        width: 96%;
    }
}

/** iPad Portrait, smartphone **/

@media only screen and (max-width: 768px) {
    .col-1, .col-2, .col-3, .col-4, .col-6, .col-8, .col-10 {
        float: none;
        width: 100%;
    }
}

/** piccoli smartphone **/

@media only screen and (max-width: 320px) {
}
